#userDetailsPage {
  .userDetail {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 20px auto;
    .detailContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
      p {
        margin: 0;
        &.label {
          font-family: $font;
          font-size: 20px;
          font-weight: $font-bold;
        }
        &.content {
          font-family: $font;
          font-size: 16px;
          font-weight: $font-light;
          text-align: right;
        }
      }
      img {
        max-width: 70px;
        height: 70px;
        width: 100%;
        border-radius: 50%;
        display: block;
        margin: 20px auto;
      }
      &.repositories {
        flex-direction: column;
        margin-top: 50px;
        .repoList {
          margin-bottom: 50px;
        }
        a {
          text-decoration: none;
          color: $black;
          margin-top: 10px;
          border: 1px solid $light-grey;
          display: block;
          padding: 10px;
          border-radius: 10px;
        }
      }
    }
  }
}